body {
    background: #9e9e9e;
    color: #0d3829;
}

.navbar {
    background: #3f5454;
    padding: 5px 10px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color:#f0f8ff;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #ff0000;
}

.container {
    max-width: 1200px ;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;

}
